<!DOCTYPE html>

<html lang = "es">

<head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title> <%= titulo %> </title>
      <meta name="description" content="Prototipo ">
      <link href = "/css/main.css" rel = "stylesheet">
      <link href = "/css/inputs.css" rel = "stylesheet">
      <link href = "/css/materialize.css" rel = "stylesheet">


      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
    
       
   
<body class="row">  
    <div>
        <%- include('includes/navbar.ejs'); %>

    </div>
    <br><br>
    <div class="container">

                <table class="table table-responsive-md table-striped table-dark ">
                 
                  <thead>
                    <tr>
                      <th scope="col">Id del Proyecto</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Fecha de inicio de desarrollo</th>
                      <th scope="col">Fecha Planeada de entrega</th>
                      <th scope="col">Fecha Limite de entrega</th>
                      <th scope="col">Horas Estimadas</th>
                      <th scope="col">Horas Invertidas</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% for (let elemento of Proyecto) { %>
                    
                    <tr>
                      <th scope="row" ><%= elemento.IdProyecto %></th>
                      <td><%= elemento.nombre %> </td>
                      <td><%= elemento.descripcion %></td>
                      <td><%= elemento.fecha_inicial %> </td>
                      <td><%= elemento.fecha_planeada %></td>
                      <td><%= elemento.fecha_limite %></td>
                      <td><%= Proyecto[0].TiempoTotal %></td>
                      <td><%=Proyecto[0].TiempoInvertido%></td>
                      <td><button name="opt"><a href="/proyectos/<%= elemento.IdProyecto %>" >Editar</a> </button><br><br></td>
                      
                      <td>
                            
                           
                           
                            <form action="/proyectos/eliminar-proyecto" method="POST" id="eliminar_<%= elemento.IdProyecto %>">
                                <input type="hidden" name="IdProyecto" value="<%= elemento.IdProyecto %>">
                                <button type="submit" name="add">Finalizar</button>
                                
                                <script> 
                                    document.getElementById("eliminar_<%= elemento.IdProyecto %>").addEventListener('submit', (e) => {
                                      let confirmacion = confirm('¿Estás seguro de eliminar el proyecto?');
                                      if(!confirmacion){
                                        e.preventDefault();
                                      }  
                                    });
                                </script>
                                
                            </form>                        
                                                    
                      </td>
                    </tr>
                    
                    <% } %> 
                  </tbody>
                </table>                    
            <br>

                    <% for (let elemento of Proyecto){ %>
                     <div class="col s12 m12 l12"> 
                      <button name="opt"><a href="/proyectos/inicio" class="btn">Volver al inicio</a> </button>
  
                    <button name="opt"><a href="/proyectos/iteraciones/<%= elemento.IdProyecto %>" class="btn">Ver iteraciones</a></button>  
                    <button name="opt"><a href="/proyectos/casosdeuso/<%= elemento.IdProyecto %>" class="btn">Ver Casos de Uso</a></button>  
                    <button name="opt"><a href="/proyectos/gestionarAirtable/<%=elemento.IdProyecto%>" class="btn">Gestionar en Airtable</a>   </button>
                  </div>

                  
                   <% } %>

                   <% for (i in progreso ){%>
                    <div class="col s12 m4" style="width: 33%, height: 10%"> <!-- Tamaño de cada tarjeta -->

                  
                    
              <div class="card border-info text-white bg-dark mb-2" style="width: 100%, height: 100%">

                <div class="card-footer bg-transparent border-info" style="height:100px">
                  <% if (progreso[i].TareasTerminadas != 0 && progreso[i].TareasTotales != 0)  { %>
                    <h5>Progreso de la iteración <%= progreso[i].iteracion%>:</h5>
                    <div class="container">
                        <div class="progress blue-grey darken-4" style="height: 30px">
                        <div class="determinate green accent-3" 
                        style="width:<%=(progreso[i].TareasTerminadas/progreso[i].TareasTotales*100)%>%" >
                        <lettercolor><%= (progreso[i].TareasTerminadas/progreso[i].TareasTotales)*100 %>%</lettercolor></div>
                    </div>
                    </div>
                    </div>
                  
                  <% } else { %>
                       <h5>Progreso de la itereación <%=progreso[i].iteracion%>:</h5>
                        <div class="container">
                            <div class="progress blue-grey darken-4" style="height: 30px">
                            <div class="determinate green accent-3" style="width:0%" ></div><lettercolor0>0%</lettercolor0>
                        </div>
                        </div>
                    
                        <% } %>
                       </div>
                      </div>
                     
                        <% } %>              
  
           

                    <br><br>                
            </div>
 

   <canvas id="myChart" width="50%" height="20%"></canvas>

  <!-- Fecha Planeada-->
    <% let fechaPlaneada = []; %>
    <% let valorPlaneadoData = []; %>
    <% let valorPlaneadoList = []; %>
    <% let valorPlaneadoAcc = 0; %>

    <% for (let data in valorPlaneado) { %>
        <% fechaPlaneada.push(valorPlaneado[data].FechaFinalizacion); %>
        <% valorPlaneadoData.push(valorPlaneado[data].ValorPlaneado); %>
    <% } %>

    <% for (let i = 0; i < valorPlaneadoData.length; i++) { %>
      <% valorPlaneadoAcc += valorPlaneadoData[i];%>
      <% valorPlaneadoList.push(valorPlaneadoAcc); %>  
    <% } %>

    <% console.log(valorPlaneadoList); %>

    <!-- Costo Real -->

    <% let costoRealData = []; %>
    <% let costoRealList = []; %>
    <% let costoRealAcc = 0; %>

    <% for (let data in costoReal) { %>
      <% costoRealData.push(costoReal[data].CostoReal); %>
    <% } %>

    <% for (let i = 0; i < costoRealData.length; i++) { %>
      <% costoRealAcc += costoRealData[i];%>
      <% costoRealList.push(costoRealAcc); %>  
    <% } %>
    
    <% console.log(costoRealList); %>

    <!-- Valor Ganado -->

    <% let valorGanadoData = []; %>
    <% let valorGanadoList = []; %>
    <% let valorGanadoAcc = 0; %>

    <% for (let data in valorGanado) { %>
      <% valorGanadoData.push(valorGanado[data].ValorGanado); %>
    <% } %>

    <% for (let i = 0; i < valorGanado.length; i++) { %>
      <% valorGanadoAcc += valorGanadoData[i];%>
      <% valorGanadoList.push(valorGanadoAcc); %>  
    <% } %>
    
    <!-- Valor Ganado Faltante-->
    <% if (valorGanado.length != valorPlaneadoData.length) { %>
      <% for(i = valorGanado.length; i < valorPlaneado.length; i++) {%>
        <% valorGanadoList.push(valorGanadoList[valorGanado.length-1]); %>
      <% } %>
    <% } %>

    
    <% console.log("Faltan valor Ganado: " + valorGanadoList[valorGanado.length-1]) %>
    
    <% console.log(valorGanadoList); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js" integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A==" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>


    <!-- Chart.js -->
    <script>
  
      var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%- JSON.stringify(fechaPlaneada); %>,
            datasets: [{
                label: 'Valor Planeado',
                data: <%- JSON.stringify(valorPlaneadoList); %>,
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },
            {
                label: 'Costo Real',
                data: <%- JSON.stringify(costoRealList); %>,
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },
            {
                label: 'Valor Ganado',
                data: <%- JSON.stringify(valorGanadoList); %>,
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }
          ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    
    </script>

  </body>


</html>