<!DOCTYPE html>

<html lang = "es">

<head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title> <%= titulo %> </title>
      <meta name="description" content="Prototipo ">
      <link href = "/css/main.css" rel = "stylesheet">
      <link href = "/css/inputs.css" rel = "stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
    
       
   
<body class="row">  
    <div>
        <%- include('includes/navbar.ejs'); %>

    </div>
    <br><br>
    <div class="container">
          
                <table class="table table-responsive-md table-striped table-dark ">
                 
                  <thead>
                    <tr>
                      <th scope="col">Id del Proyecto</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Fecha de inicio de desarrollo</th>
                      <th scope="col">Fecha Planeada de entrega</th>
                      <th scope="col">Fecha Limite de entrega</th>
                      <th scope="col">Horas estimadas</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% for (let elemento of Proyecto) { %>
                    
                    <tr>
                      <th scope="row" ><%= elemento.IdProyecto %></th>
                      <td><%= elemento.nombre %> </td>
                      <td><%= elemento.descripcion %></td>
                      <td><%= elemento.fecha_inicial %> </td>
                      <td><%= elemento.fecha_planeada %></td>
                      <td><%= elemento.fecha_limite %></td>
                      <td><%= Proyecto[0].TiempoTotal %></td>
                      <td><button name="opt"><a href="/proyectos/<%= elemento.IdProyecto %>" >Editar</a> </button><br><br></td>
                      
                      <td>
                            
                           
                           
                            <form action="/proyectos/eliminar-proyecto" method="POST" id="eliminar_<%= elemento.IdProyecto %>">
                                <input type="hidden" name="IdProyecto" value="<%= elemento.IdProyecto %>">
                                <button type="submit" name="add">Finalizar</button>
                                
                                <script> 
                                    document.getElementById("eliminar_<%= elemento.IdProyecto %>").addEventListener('submit', (e) => {
                                      let confirmacion = confirm('¿Estás seguro de eliminar el proyecto?');
                                      if(!confirmacion){
                                        e.preventDefault();
                                      }  
                                    });
                                </script>
                                
                            </form>
                                                      
                                                    
                      </td>
                    </tr>
                    
                    <% } %> 
                  </tbody>
                </table>                    
            <br>

                    <% for (let elemento of Proyecto){ %>
                    
                    <button name="opt"><a href="/proyectos/casosdeuso/<%= elemento.IdProyecto %>" class="btn">Casos de Uso</a></button>
                    
                    


                   <% } %>

                    <button name="opt"><a href="/proyectos/inicio" class="btn">Volver al inicio</a> </button>
                    
                                       


           

                    <br><br>                
            </div>
 



    
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>


</html>